<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ReliableCommunicationManagerRelativeAddress" value="Services/ReliableCommunicationManager.svc"/>
    <add key="SessionManagerRelativeAddress" value="Services/SessionManager.svc"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages.xml"/>
          <!--Replace this with full path to log file when you need logging-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint address="https://usnconeboxax1aos.cloud.onebox.dynamics.com/Services/ReliableCommunicationManager.svc" behaviorConfiguration="InteractionService" name="ClientCommunicationManager" binding="webHttpBinding" bindingConfiguration="InteractionServiceWebBindingConfig" contract="Microsoft.Dynamics.Client.InteractionService.Communication.Reliable.IReliableCommunicationManager"/>
      <endpoint address="https://usnconeboxax1aos.cloud.onebox.dynamics.com/Services/SessionManager.svc" behaviorConfiguration="InteractionService" name="ClientSessionManager" binding="webHttpBinding" bindingConfiguration="SessionManagerWebBindingConfig" contract="Microsoft.Dynamics.Client.InteractionService.Communication.ISessionManager"/>
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" allowCookies="false" maxReceivedMessageSize="26214400">
          <security mode="Transport" />
        </binding>
        <binding name="SessionManagerWebBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" allowCookies="false" maxReceivedMessageSize="26214400"  contentTypeMapper="Microsoft.Dynamics.Client.InteractionService.Communication.WCF.JsonContentTypeMapper, Microsoft.Dynamics.Client.InteractionService, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <security mode="Transport" />
        </binding>
        <binding name="InteractionServiceWebBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" allowCookies="false" maxReceivedMessageSize="26214400"  contentTypeMapper="Microsoft.Dynamics.Client.InteractionService.Communication.WCF.RawContentTypeMapper, Microsoft.Dynamics.Client.InteractionService, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="InteractionService">
          <webHttp/>
          <AxSessionBehavior/>
          <WebHttpAuthenticationBehavior/>
          <InteractionServiceEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="AxSessionBehavior" type="MS.Dynamics.TestTools.CloudCommonTestUtilities.Services.AxSessionEndpointBehaviorExtensionElement, MS.Dynamics.TestTools.CloudCommonTestUtilities, Version=7.0.0.0, Culture=neutral, PublicKeyToken=a7cf325ee2c8a9ff"/>
        <add name="WebHttpAuthenticationBehavior" type="MS.Dynamics.TestTools.CloudCommonTestUtilities.Services.WebHttpAuthEndpointBehaviorExtensionElement, MS.Dynamics.TestTools.CloudCommonTestUtilities, Version=7.0.0.0, Culture=neutral, PublicKeyToken=a7cf325ee2c8a9ff"/>
        <add name="InteractionServiceEndPointBehavior" type="Microsoft.Dynamics.Client.InteractionService.Communication.WCF.EndPointBehaviorExtensionElement, Microsoft.Dynamics.Client.InteractionService, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
