<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TestRoot" value=".\" />
    <add key="perfSdk" value="PerfSDK" />
    <add key="LogGeneration" value="false" />
    <add key="PerfReportEnabled" value="false" />
    <add key="PerfReportRowsCount" value="30" />
    <add key="VerboseSnapshotsEnabled" value="false" />
    <add key="WebDriverRightVesion" value="3.13.1.0" />
    <add key="WebDriverUrl" value="http://selenium-release.storage.googleapis.com/3.13/selenium-dotnet-strongnamed-3.13.1.zip" />
    <add key="WebDriverNugetPkcgPath" value="dist\Selenium.WebDriver.StrongNamed.3.13.1.nupkg" />
    <add key="IeDriverServerUrl" value="http://selenium-release.storage.googleapis.com/3.13/IEDriverServer_x64_3.13.0.zip" />
    <add key="MaxThreadsNumber" value="4" />
    <add key="MicrosoftEdgeExePath" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
    <add key="ValidateStepsOrder" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RSATDocs" value="https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/rsat/rsat-overview" />
    <add key="POSDocs" value="https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/pos-rsat" />
    <add key="RSATDownloadPageUrl" value="https://www.microsoft.com/en-us/download/details.aspx?id=57357" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.23.0.0" newVersion="2.23.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>